<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net48" />
  <package id="bootstrap" version="3.4.1" targetFramework="net48" />
  <package id="BouncyCastle.Cryptography" version="2.2.1" targetFramework="net461" />
  <package id="ClosedXML" version="0.104.1" targetFramework="net461" />
  <package id="ClosedXML.Parser" version="1.2.0" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="3.0.1" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.0.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net48" />
  <package id="EntityFramework.es" version="6.2.0" targetFramework="net48" />
  <package id="ExcelFinancialFunctions" version="2.4.1" targetFramework="net461" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net461" />
  <package id="FreeSpire.Doc" version="11.6.0" targetFramework="net461" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net461" />
  <package id="Humanizer" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.af" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.ar" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.az" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.bg" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.bn-BD" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.cs" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.da" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.de" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.el" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.es" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.fa" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.fi-FI" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.fr" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.fr-BE" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.he" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.hr" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.hu" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.hy" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.id" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.is" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.it" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.ja" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.ko-KR" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.ku" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.lb" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.lt" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.lv" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.ms-MY" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.mt" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.nb" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.nb-NO" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.nl" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.pl" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.pt" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.ro" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.ru" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.sk" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.sl" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.sr" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.sr-Latn" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.sv" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.th-TH" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.tr" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.uk" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.uz-Cyrl-UZ" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.uz-Latn-UZ" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.vi" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.zh-CN" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.zh-Hans" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="Humanizer.Core.zh-Hant" version="3.0.0-beta.13" targetFramework="net461" />
  <package id="itext" version="8.0.3" targetFramework="net461" />
  <package id="itext.bouncy-castle-adapter" version="8.0.3" targetFramework="net461" />
  <package id="itext.commons" version="8.0.3" targetFramework="net461" />
  <package id="itext7" version="8.0.3" targetFramework="net461" />
  <package id="itext7.bouncy-castle-adapter" version="8.0.3" targetFramework="net461" />
  <package id="jQuery" version="3.4.1" targetFramework="net48" />
  <package id="jQuery.Validation" version="1.17.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Cors" version="5.3.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.Identity.Core.es" version="2.2.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.Identity.EntityFramework.es" version="2.2.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.Identity.Owin.es" version="2.2.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc.es" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor.es" version="3.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.SignalR" version="2.4.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.4.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.4.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.4.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.Web.Optimization.es" version="1.1.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.9" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.9" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages.es" version="3.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Features" version="6.0.0-preview.4.21253.5" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net461" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0-preview.4.21253.7" targetFramework="net461" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.11" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin" version="4.0.1" targetFramework="net48" />
  <package id="Microsoft.Owin.es" version="4.0.1" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.1" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.SystemWeb.es" version="4.0.1" targetFramework="net48" />
  <package id="Microsoft.Owin.Security" version="4.0.1" targetFramework="net48" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.0.1" targetFramework="net48" />
  <package id="Microsoft.Owin.Security.es" version="4.0.1" targetFramework="net48" />
  <package id="Microsoft.Owin.Security.Facebook" version="4.0.1" targetFramework="net48" />
  <package id="Microsoft.Owin.Security.Facebook.es" version="4.0.1" targetFramework="net48" />
  <package id="Microsoft.Owin.Security.Google" version="4.0.1" targetFramework="net48" />
  <package id="Microsoft.Owin.Security.Google.es" version="4.0.1" targetFramework="net48" />
  <package id="Microsoft.Owin.Security.MicrosoftAccount" version="4.0.1" targetFramework="net48" />
  <package id="Microsoft.Owin.Security.MicrosoftAccount.es" version="4.0.1" targetFramework="net48" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.0.1" targetFramework="net48" />
  <package id="Microsoft.Owin.Security.Twitter" version="4.0.1" targetFramework="net48" />
  <package id="Microsoft.Owin.Security.Twitter.es" version="4.0.1" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net48" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="Modernizr" version="2.8.3" targetFramework="net48" />
  <package id="NETStandard.Library" version="1.6.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json.Bson" version="1.0.1" targetFramework="net461" />
  <package id="NReco.PdfGenerator" version="1.2.1" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net461" />
  <package id="QRCoder" version="1.6.0" targetFramework="net461" />
  <package id="RBush" version="3.2.0" targetFramework="net461" />
  <package id="RestSharp" version="112.1.0" targetFramework="net461" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net461" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Collections" version="4.3.0" targetFramework="net461" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net461" />
  <package id="System.Console" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" targetFramework="net461" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net461" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net461" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="net461" />
  <package id="System.IO" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Packaging" version="8.0.0" targetFramework="net461" />
  <package id="System.IO.Pipelines" version="6.0.0-preview.4.21253.7" targetFramework="net461" />
  <package id="System.Linq" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.5" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net461" />
  <package id="System.Text.Json" version="8.0.4" targetFramework="net461" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net461" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net461" />
  <package id="WebGrease" version="1.6.0" targetFramework="net48" />
  <package id="ZXing.Net" version="0.16.9" targetFramework="net461" />
</packages>