
@{
    ViewBag.Title = "Lista de Permisos";
}

<div class="panel">
    <div class="panel-hdr">
        <h2 class="panel-title"> <i class="fal fa-user fa-fw"></i>Lista de Permisos</h2>
        <div class="panel-toolbar " role="menu">
            <a href="javascript:void(0)" onclick="MostrarCrear()" class="btn btn-success"><i class="fal fa-plus fa-fw"></i> Nuevo Permiso</a>
        </div>

    </div>

    <div class="panel-container" style="padding-top:12px; padding-bottom:15px;">
        <div class="col-lg-12">
            <table class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline" style="width:100%;" id="TablaPrincipal">
                <thead>

                    <tr>
                        <th></th>
                        <th>Permiso</th>
                        <th>Activo</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        


    </div>
</div>


@section Scripts {

    <script>


        function MostrarCrear() {
            $.ajax({
                url: "@Url.Action("Crear","Permiso")",
                method: "get",
                success: function (resp) {
                    ShowModalBig(resp);
                },
                error: function (resp) {
                    AlertaError();
                }
            });
        }

        function Desactivar(id) {
            $.ajax({
                url: "@Url.Action("EliminarPermiso", "Permiso")",
                method: "post",
                data: { id: id },
                success: function (data) {
                    if (data.Estado) {
                        tablaPrincipal.ajax.reload().draw(false);
                    }
                    AlertaAjax(data);
                },
                error: function (resp) {
                    AlertaError();
                }
            });
        }

        function MostrarEditar(id) {

            $.ajax({
                url: "@Url.Action("Editar", "Permiso")",
                method: "get",
                data: { id: id },
                success: function (data) {
                    ShowModalBig(data);
                },
                error: function (resp) {
                    AlertaError();
                }
            });
        }



        var tablaPrincipal = $('#TablaPrincipal').DataTable({
            autoWidth: true,
            responsive: true,
            language: {
                "emptyTable": "No se encontraron resultados.",
                //"searUrlh": '<div class="icon-addon addon-md"><label for="search" class="ion-search"></label>',
                "paginate": {
                    first: "Primero",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Ultimo"
                },
                "lengthMenu": " _MENU_ ",
                "info": "Mostrando registros del _START_ al _END_ de _TOTAL_ registros totales.",
                "infoEmpty": "No hay registros para mostrar.",
            },

            order: [[1, "desc"]],
            ajax: {
                url: '@Url.Action("Listar", "Permiso")',
                method: "Get",
                dataSrc: function (data) {
                    return data;
                }
            },

            columns: [
                        {
                data: null,
                render: function (data) {
                    var opciones = '<div class="btn-group"> <button class="btn btn-primary btn-xs dropdown-toggle waves-effect waves-themed" data-toggle="dropdown" aria-expanded="false" ' + (!data.Estado ? 'disabled' : "") + '> Acciones </button>';
                    opciones += '<div class="dropdown-menu">';
                    opciones += '<a class="dropdown-item" href="javascript:void(0)" onclick="MostrarEditar(' +"'"+ data.Id +"'"+ ')"> Editar</a>';
                    opciones += '<a class="dropdown-item" href="javascript:void(0)" onclick="Desactivar(' + "'" + data.Id + "'" + ')"> Eliminar </a>';

                    opciones += '</div></div>';
                    return opciones;
                }
               },

                {
                    data: 'Nombre'
                },
                {
                    data: null,
                    render: function (data) {
                        if (data.Estado) {
                            return `<span class="padding-5 label label-success">Si</span>`;
                        } else {
                            return `<span class="padding-5 label label-danger">No</span>`;
                        }

                    }
                },

            ]

        });


    </script>
}

