<style>
    .left{
        float:left;
    }

    .right{
        float:right;
    }
    .dt-buttons{
        float:left;
    }

    #TablaPrincipal_filter > label {
        float:right;
    }

</style>

<div class="panel">
    <div class="panel-hdr">
        <h2 class="ui-sortable-handle"> <i class="fal fa-file-alt fa-fw"></i>Inventario por Ubicacion</h2>

    </div>

    <div class="panel-container" style="padding-top:12px; padding-bottom:15px;">
        <div class="col-lg-12">
            <div class="form-group">
                
                <div class="input-group mar-btm">

                    @*@Html.DropDownList("Ubicaciones", new SelectList(ViewBag.ListUbicaciones, "Value", "Text"), null, new { @class = "form-control input-lg", @style = "width:100%;" })*@

                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <table class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline" style="width:100%;" id="TablaPrincipal">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Serie1</th>
                        <th>Serie2/Mac</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        var ubicacion = 0;
        

        

        var tablaPrincipal = $('#TablaPrincipal').DataTable({
            autoWidth: true,
            responsive: true,
            language: {
                "emptyTable": "No se encontraron resultados.",
                //"searUrlh": '<div class="icon-addon addon-md"><label for="search" class="ion-search"></label>',
                "paginate": {
                    first: "Primero",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Ultimo"
                },
                "lengthMenu": " _MENU_ ",
                "info": "Mostrando registros del _START_ al _END_ de _TOTAL_ registros totales.",
                "infoEmpty": "No hay registros para mostrar.",
            },
            dom: `<"row" <"#add.col-sm-4"><"col-sm-4 left"B><"col-sm-4"f>>rtip`,
            "aaSorting": [],
            ajax: {
                url: '@Url.Action("ListaInventarioPorUbicacionDetallado", "Productos")',
                method: "Get",
                data: function (d) {
                    d.fiIdUbicacion = ubicacion;
                },
                dataSrc: function (data) {
                    return data;
                }
            },

            columns: [
                {
                    data: "fcProducto",

                },
                {
                    data: "fcCodigoSerie1",

                },
                {
                    data: "fcCodigoSerie2",
                },
                {
                    data: "fnCantidad",

                }
            ],
            initComplete: function () {
                
                $("#Ubicaciones").select2().val(null).trigger("change");
                
                $("#Ubicaciones").change(function () {
                    ubicacion = $(this).val();
                    tablaPrincipal.ajax.reload();
                });


            }

        });



        $select = $(`@Html.DropDownList("Ubicaciones", new SelectList(ViewBag.ListUbicaciones, "Value", "Text"), null, new { @class = "form-control input-lg", @style = "width:100%;" })`).appendTo('#add')
    </script>

}