
<style>
    .modalQR {
        z-index: 1050; /* o un valor más alto según sea necesario */
    }

</style>
<div class="modal-header bg-primary-600 bg-primary-gradient">
    <h2 class="modal-title text-white">Documento de adendun</h2>

    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
</div>

<!--Modal body-->
<div class="modal-body modalQR">
    <form id="MyFormModal">

        <div class="panel-container" style="padding-top:12px; padding-bottom:15px;">

            <div class="col-sm-6">
                <div class="form-group">
                    <a href="@ViewBag.Linkurl" class="link-success" target="_blank">@ViewBag.Linkurl</a>
                </div>
            </div>





        </div>

        <div class="modal-footer">
            <div class="clearfix" style="width:100%;">
                <button data-dismiss="modal" class="btn btn-link waves-effect waves-themed float-left btn-lg text-danger" type="button"><i class="text-lg ion-close-round"></i></button>
                @*<button type="button" id="btnConfirmarEnvio" class="btn btn-link btn-lg waves-effect waves-themed float-right text-success"><i class="text-lg ion-checkmark-round"></i></button>*@
            </div>

        </div>

    </form>
</div>

@Scripts.Render("~/bundles/jqueryval")

<script>
   
</script>

