CONTRATO DE PRESTAMO Y SERVICIOS


Nosotros ERICK GEOVANY MOLINA PADILLA, mayor de edad, casado, Ingeniero Industrial, de nacionalidad Hondureña, con DNI número 1301-1980-00105, y vecino de la Ciudad de San Pedro Sula, actuando en mi condición de Representante Legal de la Empresa Mercantil denominada PRESTADITO SA DE CV que
para efectos comerciales será denominado {BLACKNOVANET} Y EL SENOR (a) {lblNombreClienteContratoPrestamo} con DNI
{lblIdentidadClienteContratoPrestamos}
con domicilio en {lblDomicilioClienteContratoPrestamo} quienes para los efectos de este Contrato serán conocidos de aquí en adelante
como
{BLACKNOVANET} y {BLACKEL CLIENTE} respectivamente ambos con facultades suficientes para la celebración de este tipo de
actos y contratos, libre y
voluntariamente acordamos celebrar el presente CONVENIO DE PRESTACION DE SERVICIOS Y CREDITOS, mismo que hemos
convenido celebrar basado en las
condiciones y clausulas contenidas en los siguientes artículos: {BLACKCONDICIONES GENERALES: A) EL CLIENTE} reconoce y
acepta que {BLACKNOVANET}
está ofreciendo servicios de enlaces de internet por medio de fibra óptica y televisión por medios digitales , teniendo como proveedor
de enlaces a
la empresas terceras de telecomunicaciones, legalmente registradas en la República de Honduras autorizadas por CONATEL y
autorizada por estas empresas
para comercializar sus servicios; {BLACKB) EL CLIENTE} reconoce y acepta que los equipos entregados en arrendamiento con
reserva de dominio por parte de
{BLACKNOVANET}, por concepto de los servicios contratados, son propiedad de {BLACKEL PROVEEDOR} hasta que el
{BLACKCLIENTE} cumpla con el 100% de lo
establecido en el presente contrato; {BLACKC) EL CLIENTE} reconoce y acepta que toda gestión de soporte técnico y/o pago de
servicios será única y
exclusivamente realizada por medio de los canales autorizados de {BLACKEL PROVEEDOR} o las empresas que este destine para
este fin. Para lo cual se
detallan las cláusulas que gobernaran este contrato: {BLACKPRIMERA: OBJETO DEL CONTRATO: NOVANET} proporcionará a EL
CLIENTE los servicios y productos
que se describen en el anexo A o adendum a la "SOLICITUD DE SERVICIO Y/O FINANCIAMIENTO", que pueden comprender una o
más de las siguientes modalidades:
a) servicio de televisión por cable; b) servicio de Internet; c)Servicio de televisión digital; d) Productos eléctricos que distribuya
{BLACKNOVANET},
e)Préstamos Personales, f) Financiamiento de bienes o servicios g) líneas de crédito de consumo- El anexo o adendum a la
"SOLICITUD DE SERVICIO Y/O
FINANCIAMIENTO " constituirá la parte descriptiva de los servicio contratados y productos solicitados así como las vigencias de los
mismos, por lo
tanto se considerará parte integra de este contrato.{BLACK- SEGUNDA: OBLIGACIONES DEL CLIENTE:} 1) por medio de este
contrato EL CLIENTE entiende y
está de acuerdo que está contratando un servicio de Internet por medio de fibra óptica exclusivamente para uso residencial con la
siguiente descripción
de hasta {lblInternetContratoPrestamo}. 2) El CLIENTE entiende y acepta que el servicio de televisión digital es sub contratado por
NOVANET a una empresa tercera con el objetivo de contar con la mayor variedad y calidad de programación 3) El CLIENTE entiende y
acepta que este
servicio tiene una vigencia de {lblMesesCuotasContrato} meses mismos que serán renovables en caso de que EL CLIENTE y
NOVANET así lo
acuerden; teniendo un pago mensual de {lblCoutaMontoPalabrasContratoPrestamo}. 4) EL CLIENTE entiende y acepta que la
ausencia de
pago en la fecha estipulada del contrato de servicio implica la suspensión temporal del servicio y que serán reestablecidos hasta haber
hecho efectivo
el pago por los servicios más los costes de reconexión pudiendo ser cobrados hasta {lblMoraRetraso} por concepto de gestiones de
cobranza. 5) EL CLIENTE entiende y acepta que su fecha máxima de pago es el {lblDiaPAgoContratoPrestamo} de cada mes iniciando
el
primer pago el {lblFechaPrimerPagoContratoPrestamo}. 6) EL CLIENTE entiende y acepta que está obteniendo a manera de préstamo
por un
valor de {lblMontoPalabrasContratoPrestamo} para obtener los equipos y/o productos detallados en el anexo A y por los cuales estará
pagando la mensualidad detallada en el inciso tres de la cláusula segunda del presente contrato con las condiciones detalladas en ese
mismo inciso en
caso de que el cliente desee conservar estos equipos se grabara una tasa de {lblTipoTasa}, dichos equipos podrán ser propiedad del
cliente sin costo extra alguno si este cumpliese con los términos de plazo acordado en el contrato. 7) EL CLIENTE entiende y acepta
que está obteniendo
a manera de préstamo por un valor los productos y equipos detallados en el anexo A cuyo valor nominal asciende a
{lblMontoFinalContrato}
y por los cuales estará pagando la mensualidad detallada en el inciso dos de la cláusula segunda del presente contrato con las
condiciones detalladas
en ese mismo inciso en caso de que el cliente desee conservar estos equipos se grabara una tasa de {lblTipoTasaInteresSimple},
dichos
equipos podrán ser propiedad del cliente sin costo extra alguno si este cumpliese con un contrato de
{lblPlazoPlabrasContratoPrestamo}.
{BLACKTERCERA: DERECHOS DEL CLIENTE:} De acuerdo a los servicios detallados en la "SOLICITUD DE SERVICIO Y/O
FINANCIAMIENTO ", EL CLIENTE tendrá derecho
a: 1) Soporte Técnico por medio de Call Center y de ser necesario, visita presencial en días y horas hábiles, para la revisión y
mantenimiento que
considere necesario {BLACKNOVANET;} 2) Podrá registrar una cuenta de correo electrónico para comunicación con el cliente misma
que será {lblCoreoCLienteContratoPrestamo};
3) En caso de que EL CLIENTE necesite hacer un traslado de domicilio deberá de notificar con 30 días de anticipación a
{BLACKNOVANET} realizara el
cobro de los costos de instalación que están tasado en {lblCostoInstalacionPlabras} más los costos de los equipos detallados en el
anexo aplicando una depreciación proporcional al tiempo de uso misma que no excederá del uno por ciento mensual {BLACKse
exceptúa del cobro de estos {lblCostoInstalacion}}
{BLACKcuando el CLIENTE haya completado al menos {lblMinimoPlazo} pagos continuos de servicio} mientras que en los casos que
por la
cancelación anticipada del contrato basado al no ser una causa atribuible a {BLACKNOVANET}, cuando su servicio sea derivado de
una promoción sujeta a
permanencia si se solicitara la restitución de dichos costos de instalación; {BLACKNOVANET}, no se hace responsable de extender
sus servicios o realizar
cambios o devoluciones por razón del traslado de EL CLIENTE a un área fuera de coberturas. 4) Obtener en las oficinas de
{BLACKNOVANET} o por canales
de atención digital o electrónicas en caso de requerirlo, un estado de cuenta detallando el consumo causado, 5) Comprar al crédito
productos eléctricos
que distribuya {BLACKNOVANET}, incluyendo aparatos de televisión y/o computadoras y cualquier otro producto tecnológico que
ponga a la venta los cuales
quedaran descritas las características, valor y fechas de pago en el anexo "SOLICITUD DE SERVICIO Y/O FINANCIAMIENTO ". 6)
Terminar por escrito el presente
contrato, con treinta días de anticipación, en casos que EL CLIENTE no esté de acuerdo en las modificaciones a las condiciones y
precios ya establecidos
en el contrato, lo que dará derecho a NOVANET para exigir anticipadamente todos los valores {lblTipoTasaInsolutos} que se
encuentren
detallados en el anexo A o adendum "SOLICITUD DE SERVICIO Y/O FINANCIAMIENTO ", salvo que EL CLIENTE otorgue otras
garantías de pago que apruebe {BLACKNOVANET}.
7) Terminado el contrato EL CLIENTE tendrá derecho a la devolución de los depósitos en garantía y letras de cambio o pagaré que
haya firmado, siempre
y cuando estén canceladas todas las obligaciones y devueltos todos los equipos en perfecto estado a juicio de {BLACKNOVANET.
CUARTO: OBLIGACIONES Y RESPONSABILIDAD DEL CLIENTE:}
Conforme a los servicios detallados en la "SOLICITUD DE SERVICIO Y/O FINANCIAMIENTO " o adendum, EL CLIENTE tendrá las
siguientes obligaciones y
responsabilidades: 1) A realizar los pagos el {lblDiaPagoContrtoPrestamo} de cada mes, sin necesidad de cobro; 2) EL CLIENTE, por
este medio
acepta pagar los cargos de acuerdo a lo que conste en los libros y registros de {BLACKNOVANET.} 3) EL CLIENTE será responsable
por la perdida y los
daños ocurridos a los equipos, materiales y accesorios utilizados, estaciones, redes, que {BLACKNOVANET} le proporcione al
CLIENTE detallados en este
contrato, y los demás detallados en el anexo o adendum a la "SOLICITUD DE SERVICIO Y/O FINANCIAMIENTO " ya sea por
incendio, robo, hurto, extravío,
problemas de voltaje, mal uso del equipo; Si ocurriera cualquiera de estos hechos en el equipo detallado en la referida clausula octava
y EL CLIENTE
desea continuar con el servicio, éste deberá cancelar por el nuevo equipo a instalar el valor establecido en el anexo o adendum de
"SOLICITUD DE
SERVICIO Y/O FINANCIAMIENTO ". 3) EL CLIENTE permitirá el ingreso del personal autorizado por {BLACKNOVANET} al lugar de
ubicación del servicio, para
efectuar lo establecido en la cláusula cuarta numeral cuatro de este contrato, quienes deberán estar debidamente identificados; EL
CLIENTE o su representante
deberá estar presente durante la visita y hasta la salida del personal autorizado por {BLACKNOVANET}, en caso contrario
{BLACKNOVANET} quedará liberada
de cualquier responsabilidad. 4) En el caso de que algún pago se haga con cheque y por cualquier razón este cheque fuera rechazado,
EL CLIENTE se obliga
a cancelar en efectivo el valor de lo adeudado más un recargo por costos administrativos equivalente a {lblCostosAdministrativos} más
la penalidad que cobra el banco por el no pago por causas imputables a EL LIBRADOR. 5) A notificar por escrito la terminación
anticipada o suspensión
del contrato con {lblDiasSuspencion} días de anticipación por lo que deberá: a) Devolver a {BLACKNOVANET} los equipos, demás
materiales
y accesorios en perfecto estado a juicio de {BLACKNOVANET;} b) A cancelar todas las sumas adeudadas por el servicio prestado; en
caso contrario {BLACKNOVANET}
ejecutará las Letras de Cambio o pagarés firmados; c) En caso de que EL CLIENTE dé por terminado anticipadamente un contrato de
promoción cuya vigencia
está definida en el mismo, sus anexos o adendums o requiera traslado de sus servicios a un lugar donde no haya cobertura y le sea
notificado con la
anticipación debida, decidiendo este siempre trasladarse, EL CLIENTE acuerda indemnizar los costos de instalación que fueron
incurridos al hacer
efectivo el contrato con {BLACKNOVANET}, con un valor equivalente a {lblMontoEnPalabrasContrato} más el mes en curso de servicio
y el
costo de los equipos o productos que fueron entregados al cliente menos la depreciación proporcional al uso de los mismo misma que
no excederá del
{lblPorcentajeDepreciacion}. 6) Utilizar todos los servicios contratados de forma licita, cumpliendo con todas las regulaciones
establecidas
en el presente contrato, en las leyes de telecomunicaciones y demás leyes aplicables. 7) EL CLIENTE entiende y acepta que el servicio
contratado es
única y exclusivamente para uso residencial en el domicilio declarado en el presente contrato de servicios y que dicho servicio no podrá
ser compartido
con terceros o comercializado o generar lucro por medio de terceros o vendido a terceros. 8) EL CLIENTE entiende y acepta que
{BLACKNOVANET} o la
empresa que ellos designen para este fin podrá monitorear el tráfico de carga y descarga del ancho de banda para auditar el buen uso
del mismo y que
se esté cumpliendo con el numeral 7 de la cláusula CUARTA del presente contrato, LA VIOLACION de lo acordado en esta cláusula
dará lugar al vencimiento
anticipado del mismo. 9) EL CLEINTE entiende y acepta que la violación del numeral 7 de la cláusula CUARTA del presente contrato
da lugar a la cancelación
anticipada del contrato y que deberá a la suspensión definitiva y al pago de una indemnización por concepto de danos y perjuicios
equivalente a la
totalidad del contrato {BLACK- QUINTA: DERECHOS DE NOVANET:} Tendrá derecho a: 1) A la desactivación o desconexión y la
reactivación y reconexión de
los servicios contratados, mismos que será objeto de recargos según la tarifa establecida por {BLACKNOVANET} por la falta de
cumplimiento en los pagos.
2) {BLACKNOVANET} se reserva el derecho de modificar las CLAUSULAS de este contrato y tarifas mensuales (a excepción de los
contratos por tiempo definido
siempre y cuando no haya vencido dicho contrato) de conformidad a sus políticas o en acatamiento de disposiciones del ente
regulador, previa notificación
a través de la Dirección Electrónica indicada en la Cláusula Décima o por los canales de comunicación de {BLACKNOVANET}. 3)
{BLACKNOVANET} no se hace
responsable por la red interna de EL CLIENTE (LAN, USB, Etc.). 4) Retirar de la vivienda de EL CLIENTE, los materiales referidos en
la cláusula segunda
numeral seis, o cualquier producto entregado al crédito a EL CLIENTE, por incumplimiento de contrato, al igual que realizar
supervisiones que considere
necesarias para verificar fallas técnicas o violaciones al contrato. 5) A dar por terminado el contrato y suspensión del servicio, sin
ninguna responsabilidad
o cargos en su contra y sin necesidad de resolución judicial cuando: a) Según nuestro sistema se sobrepasa el UMBRAL DE
CONSUMO de cargas y descargas
estipulado en el contrato; b) Si EL CLIENTE manifiesta por escrito su no aceptación a los cambios de tarifa establecidos y notificados o
su simple determinación
de dar por terminado o suspender el servicio; c) Si EL CLIENTE incumple con los términos y condiciones del presente contrato; d) Si la
información
suministrada por EL CLIENTE a {BLACKNOVANET} es falsa o incorrecta; e) Si hay mora de EL CLIENTE en el pago de cualquier
suma adeudada a {BLACKNOVANET};
f) Si EL CLIENTE utiliza los servicios en forma fraudulenta o para fines que contravengan los términos de este contrato, las Leyes de la
Republica.
-En dichos casos EL CLIENTE conforme a la gravedad del caso, asumirá directamente las responsabilidades legales que su práctica
irregular genere
eximiendo a NOVANET de cualquier responsabilidad; g) Si el servicio es utilizado para fines ilícitos, caso en el cual {BLACKNOVANET}
procederá judicialmente
por la vía criminal; en este caso EL CLIENTE es responsable por los gastos correspondientes. La suspensión del contrato por cualquier
causa no libera
a EL CLIENTE de la responsabilidad de pagar los cargos pendientes a favor de {BLACKNOVANET} por servicios prestados o
productos al crédito. h) A
efectuar los cambios o modificaciones en la programación del Sistema de Televisión por Suscripción por Cable, que de acuerdo a las
políticas técnicas
internas o por disposiciones de los entes reguladores, sean necesarios para el fiel desenvolvimiento y/o desarrollo del sistema de
Televisión.
{BLACK- SEXTA: GARANTIAS DEL SERVICIO:} EL CLIENTE acepta que en caso de que el servicio se interrumpa debido a razones
de fuerza mayor, caso fortuito,
congestión o fallas técnicas no imputables a la voluntad de {BLACKNOVANET}, o bien por actos u omisiones de la autoridad o por
otras causas, {BLACKNOVANET}
no será responsable ni podrá ser objeto de reclamos por incumplimiento, deficiencias o interrupciones del servicio, eximiéndose de
cualquier responsabilidad
por daño o perjuicio que EL CLIENTE pudiese experimentar como consecuencia de tales interrupciones.- Toda las garantías revisiones
o mantenimiento
relacionada, en este contrato no podrá interpretarse como extendida a los aparatos de televisión y/o computadoras de segunda
vendidas al crédito, pues
EL CLIENTE ha aceptado que son vendidos sin garantía, por consiguiente EL CLIENTE acepta que el televisor (es) y/o computador
(as) y que se describen
en el anexo u adendum "SOLICITUD DE SERVICIO", las ha revisado y recibido a su entera satisfacción, y que en virtud de ser
aparatos electrónicos de
segunda no cuenta con ninguna garantía, por lo que lo acepta y libera a {BLACKNOVANET}, de todo responsabilidad en relación a
dicho (s) aparato (s)
descrito en el referido anexo. {BLACKSEPTIMA: DOCUMENTOS Y DEPOSITOS EN GARANTIA:} a) Para garantía de los equipos
necesarios para el servicio
contratado y para garantía de las compras al crédito de televisor (es) y/o computadora ( s) que venda {BLACKNOVANET} , EL
CLIENTE firmará por los
valores establecidos en el Anexo A u adendum "SOLICITUD DE SERVICIO", tal documento no exime a EL CLIENTE, para devolver los
aparatos vendidos al
crédito cuando así lo requiera {BLACKNOVANET}por encontrarse en mora en el pago de dicho bienes muebles; {BLACKOCTAVA:
FORMAS Y LUGARES DE PAGO:}
Los pagos podrán realizarse en: a) Oficinas principales o sucursales de {BLACKNOVANET;} b) pagos en línea en la agencia virtual de
{BLACKNOVANET},
para lo cual se asignará a EL CLIENTE una contraseña; c) débito automático de Tarjeta de Crédito; d) las sucursales de entidades
bancarias u otras
instituciones autorizadas para tal fin por {BLACKNOVANET. NOVENA: PROPIEDAD DE COMPONENTES:} Para todos los servicios,
los equipos, materiales y
accesorios utilizados, estaciones, redes, etc. son propiedad de {BLACKNOVANET}, de especial interés para ambas partes son
propiedad de {BLACKNOVANET}
los siguientes: a) (STB) SET TOP BOX, DECODIFICADOR DIGITAL, (DVR) DIGITAL VIDEO RECORDER, (PVR) PERSONAL VIDEO
RECORDER Y LA TARJETA INTELIGENTE con
información de abonado para Televisión Digital; b) CABLE MODEM, MODEM WIFI, ONT (Optical Network Terminal) Para Servicio de
Internet así como cualquier
electrónico que fue entregado al cliente para su uso ; todos estos aparatos se entregarán en condición de préstamo durante la vigencia
del contrato y
para los efectos consiguientes su valor queda establecido en el anexo u adendum de "SOLICITUD DE SERVICIO Y/O
FINANCIAMIENTO ". Cada uno de ellos será
entregado al cliente al momento de instalación; en caso de desperfectos o defectos de fabricación solamente podrán ser revisados y/o
sustituidos por
{BLACKNOVANET} siempre y cuando estén dentro del término de garantía de un (1) año, a excepción del SET TOP BOX,
DECODIFICADOR DIGITAL, DIGITAL VIDEO
RECORDER, PERSONAL VIDEO RECORDER y la TARJETA INTELIGENTE cuyo término de garantía es de seis (6) meses, si
ocurriese una infracción de esta disposición,
EL CLIENTE será responsable por los daños ocurridos. Todos los aparatos mencionados solamente podrán ser proporcionados por
{BLACKNOVANET}; asimismo
en caso de pérdida, extravió, daño o mal funcionamiento que sean producto del uso inapropiado o negligente de parte EL CLIENTE,
este se obliga a pagar
a {BLACKNOVANET} valor de los equipos que haya dañado o extraviado de acuerdo al valor establecido en el anexo u adendum de
"SOLICITUD DE SERVICIO Y/O
FINANCIAMIENTO" {BLACKDECIMA: PROHIBICIONES:} EL CLIENTE se obliga a no 1.-Redistribuir a terceras personas la señal o
señales suministradas por {BLACKNOVANET}
o conectar o instalar equipos adicionales a los contratados, salvo aprobación previa por {BLACKNOVANET} y siempre que los equipos
cuenten con las medidas
de seguridad y regulaciones según el servicio adquirido dentro de la misma residencia, en caso contrario aplicará lo establecido en la
CLAUSULA CUARTA
incisos 7) y 9), eximiendo a {BLACKNOVANET} de cualquier responsabilidad. EL CLIENTE no permitirá que ninguna persona no
autorizada por {BLACKNOVANET}
traslade, modifique o ejecute trabajos en la instalación y/o equipos que afecten el servicio de {BLACKNOVANET}. 2-Utilizar el servicio
con fines ilícitos
o de una forma en que no esté contemplada dentro de las Leyes Honduras. Utilizar el servicio o cualquier servicio contratado para
realizar operaciones
conocidos como: Call-back, reoriginación de llamada, by-pass, linking-PBX o cualquier otro que a criterio de {BLACKNOVANET} se
utilice la red como intermediaria
para cursar tráfico internacional de manera ilegal. 3.-Igualmente queda prohibido vender, empeñar, obsequiar los aparatos eléctricos
(Televisor (es) y/o
Computadora (s) y cualquier otro dispositivo electrónico o tecnológico nuevos) vendidos al Crédito a EL CLIENTE, es decir no podrá
ejercer ningún tipo
de acto de comercio, ni trasladarlos a otro lugar distinto a la dirección establecida en el anexo u adendum "SOLICITUD DE SERVICIO",
pues para efectos
de este contrato no se considerará dueño de tales bienes muebles hasta el pago total, mientras tanto, se considerará, como simple
depositario ad-honorem
de tales aparatos eléctricos (Televisor (es) y/o Computadora y cualquier otro equipo electrónico o tecnologico, obligados a devolverlos
en caso de mora
en caso que le sea solicitado por {BLACKNOVANET.- UNDECIMA: COMPETENCIA, JURISDICCION Y GASTOS POR
INCUMPLIMIENTO:} Los gastos judiciales y extrajudiciales
en que incurra {BLACKNOVANET} por incumplimiento de pagos de EL CLIENTE serán por cuenta de este último. El Cliente acepta
como exigibles los saldos
que presente {BLACKNOVANET} respecto a este contrato, en caso de ventilarse alguna cuestión o reclamo derivado del mismo por la
vía extrajudicial o
judicial. EL CLIENTE renuncia a su domicilio y ambas partes se someten a la jurisdicción y competencia de los Juzgados que de
acuerdo a la cuantía sean
competentes. EL CLIENTE acepta el domicilio establecido en la solicitud de Contrato para recibir notificaciones, emplazamientos
judiciales o extrajudiciales,
obligándose a comunicar a {BLACKNOVANET} cualquier cambio del mismo. Asimismo EL CLIENTE se obliga al pago de gastos
personales, procesales, judiciales
y extrajudiciales en que {BLACKNOVANET} incurra por cualquier acción judicial. Para todo lo no previsto en este CONTRATO, se
atenderá a lo dispuesto en
la legislación aplicable y en su defecto, en los usos y las costumbres mercantiles. {BLACKDECIMA SEGUNDA: DIRECCIONES:} Para
los efectos detallados en
la cláusula anterior así como cualquier requerimiento Judicial o acto de comunicación Judicial, el domicilio de EL CLIENTE será el
consignado en la
"SOLICITUD DE SERVICIO" u adendum. EL CLIENTE deberá notificar a {BLACKNOVANET} sobre el cambio de dueño de la
propiedad donde están contratados los
servicios, y se tendrá como el lugar donde se encuentren los equipos instalados para el servicio contratado y los productos entregados
al crédito.
{BLACK- DECIMO TERCERO: DISPOSICIONES GENERALES:} a) Es política de {BLACKNOVANET} imponer su derecho de
demandar a cualquier persona que redistribuya
o se conecte al sistema de {BLACKNOVANET} ilegalmente; que cobre o posea, conecte o mantenga dispositivos para cable no
autorizados, que efectúe o
mantenga cualquier modificación o alteración a cualquiera de los dispositivos o cableado instalado por {BLACKNOVANET}. EL
CLIENTE deberá tomar todas las
precauciones para que esto no suceda dentro de su propiedad; b) Una vez terminado el presente contrato, {BLACKNOVANET} se
reserva el derecho de disponer
de cualquier número telefónico asignado mediante este contrato, sin perjuicio de cualquier acción que pudiere tomar en defensa y
ejecución de sus derechos;
c) En caso de que EL CLIENTE sea una persona jurídica, el contrato deberá ser firmado por la persona que ostente la representación y
facultades acreditadas
por medio de escrituras de poder o documentos a satisfacción de {BLACKNOVANET}. En caso de conflictos de representación, el
firmante acepta y reconoce
que queda personalmente obligado al cumplimiento de todas las obligaciones que contrae a nombre de EL CLIENTE, incluyendo
gastos legales, quedando a
salvo lo dispuesto en el Artículo 736 del Código de Comercio. EL CLIENTE se obliga a notificar a {BLACKNOVANET} de cualquier
cambio de su representación
legal. d) Es entendido y aceptado por ambas partes que en caso de que el desempeño de los servicios señalados en este contrato
resultare en violación de
la ley del consumidor este acuerdo deberá estimarse enmendado hasta llenar las necesidades para cumplir con esa ley.
{BLACKDECIMO CUARTO: DOCUMENTOS DEL CONTRATO:}
Forman parte integral de este contrato los siguientes documentos: a) la solicitud de servicio o servicios llenada y firmada por EL
CLIENTE; b) El Anexo
denominado CONDICIONES DE SERVICIO; c) Demás Anexos y Adendum debidamente aceptados por las partes. {BLACKDECIMA
QUINTA: VIGENCIA:} La vigencia de este
contrato será a partir de la fecha de su firma. Y para constancia en nuestro carácter indicado leemos lo escrito y enterados de su
contenido, valor y
efecto, lo ratificamos, aceptamos y firmamos.-
Verificación de Información Brindada
Es para {BLACKNOVANET} un placer contar con clientes como usted, con el propósito de servirle mejor pedimos su colaboración
brindándonos la siguiente
información:
En fe de lo cual firmamos en la ciudad de
{lblCiudad_FirmaContratoPrestamo},
a los
{lblNumeroDia_FirmaContratoPrestamo}
días del mes de
{lblMes_FirmaContratoPrestamo}
del año
{lblAnio_FirmaContratoPrestamo}.
EL CLIENTE
NOVANET