

<div class="panel">
    <div class="panel-hdr">
        <h2 class="ui-sortable-handle"> <i class="fal fa-user fa-fw"></i>Clientes Adquiridos Mediante Robchat</h2>
    </div>

    <div class="row mb-1  justify-content-center">

        <div class="col-lg-3 col-md-3 col-sm-6 col-6 align-self-end">
            <label class="col-form-label">Búsqueda por Mes</label>
            <select id="ddlMesIngreso" class="form-control form-control-sm">
                <option value="">Seleccionar</option>
                <option value="01">Enero</option>
                <option value="02">Febrero</option>
                <option value="03">Marzo</option>
                <option value="04">Abril</option>
                <option value="05">Mayo</option>
                <option value="06">Junio</option>
                <option value="07">Julio</option>
                <option value="08">Agosto</option>
                <option value="09">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
            <label class="col-form-label">Búsqueda por Fecha</label>
            <div class="input-daterange input-group" id="date-range">
                <input type="text" class="form-control form-control-sm" name="fecha-minima" id="fecha-minima" onchange="maxandmin_change()" />
                <input type="text" class="form-control form-control-sm" name="fecha-maxima" id="fecha-maxima" onchange="maxandmin_change()" />
            </div>
        </div>

    </div>

    <div class="panel-container" style="padding-top:12px; padding-bottom:15px;">

        <div class="col-lg-12">
            <table class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline" style="width:100%;" id="TablaPrincipal">
                <thead>
                    <tr>
                        <th>IdTicket</th>
                        <th>Fecha creado</th>
                        <th>Accion del cliente</th>
                        <th>Fecha Modificado</th>
                        <th>Cliente</th>
                        <th>Identidad</th>
                        <th>Telefono</th>
                        <th>Fecha Instalacion</th>
                        <th>Estado</th>

                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>


    </div>
</div>

@section Scripts {
    <script src="~/Content/js/datagrid/datatables/datatables.export.js"></script>
    <script>
        var fbEstadoAprobado;
        var fbEstadoDenegado;
        let FiltroAnio = '';
        let filtroMes = '';
        var filtroActual = "";
        $('#ddlMesIngreso').on('change', function () {
            debugger;
            filtroMes = this.value != '' ? this.value : '';
            MesAnio();
        });

        var tablaPrincipal = $('#TablaPrincipal').DataTable({
            autoWidth: true,
            responsive: true,
            language: {
                "emptyTable": "No se encontraron resultados.",
                //"searUrlh": '<div class="icon-addon addon-md"><label for="search" class="ion-search"></label>',
                "paginate": {
                    first: "Primero",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Ultimo"
                },
                "lengthMenu": " _MENU_ ",
                "info": "Mostrando registros del _START_ al _END_ de _TOTAL_ registros totales.",
                "infoEmpty": "No hay registros para mostrar.",
            },
            dom: 'Bfrtip',
            order: [[1, "desc"]],
            ajax: {
                url: '@Url.Action("CargarListaClientesAdquiridosPorRobchat", "Reportes")',
                method: "Get",
                dataSrc: function (data) {
                    return data;
                }
            },

            columns: [
                {
                    data: "ID",
                },
                {
                    data: null,
                    render: function (data) {
                        return moment(data.FechaCreado).format("DD/MM/YYYY");
                    }
                },
                {
                    data: "Accion",
                },
                {
                    data: null,
                    render: function (data) {
                        return moment(data.FechaCreado).format("DD/MM/YYYY");
                    }
                },
                {
                    data: "fcNombre",
                },
                {
                    data: "fcIdentidad",
                },
                {
                    data: "fcTelefono",
                },

                {
                    data: null,
                    render: function (data) {
                        return moment(data.fdFechaInstalacionFinal).format("DD/MM/YYYY");
                    }
                },
                {
                    data: "fcDescripcion",
                },


            ],
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: 'EXCEL',
                    messageTop: "Clientes Por Robchat Contratados",
                    filename: "Clientes",
                    className: 'btn-outline-success btn-sm mr-1',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                        // columns: ':visible'
                    }
                },
                {
                    extend: 'csvHtml5',
                    text: 'CSV',
                    titleAttr: 'Generate CSV',
                    className: 'btn-outline-primary btn-sm mr-1'
                },
                {
                    extend: 'copyHtml5',
                    text: 'Copy',
                    titleAttr: 'Copy to clipboard',
                    className: 'btn-outline-primary btn-sm mr-1'
                },
                {
                    extend: 'print',
                    text: 'Print',
                    titleAttr: 'Print Table',
                    className: 'btn-outline-primary btn-sm'
                }
            ],
        });

        $("#fecha-minima").datepicker({
            onSelect: function () {
                filtroActual = 'rangoFechas';
            },
            changeMonth: !0,
            changeYear: !0,
        });

        $("#fecha-maxima").datepicker({
            onSelect: function () {
                filtroActual = 'rangoFechas';
            },
            changeMonth: !0,
            changeYear: !0,
        });



        $.fn.dataTable.ext.search.push(function (e, a, i) {
            debugger;
            if (filtroActual == 'rangoFechas') {

                let Desde = $("#fecha-minima") ?.datepicker("getDate") ?? new Date(),
                    Hasta = $("#fecha-maxima") ?.datepicker("getDate") ?? new Date(),
                    FechaIngreso = new Date(moment(a[9], "DD/MM/YYYY").format("YYYY-MM-DD"));
                return ("Invalid Date" == Desde && "Invalid Date" == Hasta) || ("Invalid Date" == Desde && FechaIngreso <= Hasta) || ("Invalid Date" == Hasta && FechaIngreso >= Desde) || (FechaIngreso <= Hasta && FechaIngreso >= Desde);
            }
            else return true;
        });


        function maxandmin_change() {
            try {
                debugger;
                filtroActual = 'rangoFechas';
                var tabla = $.fn.dataTable.Api("#BandejaSolicitudesFinalesInstalados");

                tabla.draw();

            } catch (e) {
                console.log(e)
            }
        }
        function MesAnio() {
            tablaPrincipal.columns(7).search(FiltroAnio + '/' + filtroMes + '/').draw();
        }
    </script>

}